
input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
}
.main{
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid orangered;
    border-radius: 20px;
    margin: 0 auto;
}
label{
    font-family: "Roboto";
}
h2{
    font-family: "Roboto";
    font-size: 30px;

}
button{
    height: 40px;
    width: 100px;
    background-color: orangered;
    border-radius: 10px;
}