body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.animated{
    height: 300px;
    width: 300px;
    background-color: green;
    animation-name: animated;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;



}

@keyframes animated{
    0%{
        background-color: green;
        animation-duration: 2s;

    }
    20%{
        background-color: gold;
        box-shadow: 2px 2px 15px gold;
        border-radius: 300px;
        transform: translateY(300px);
        animation-duration: 2s;
        border-radius: 5px;

    }
    40%{
        background-color: blue;
        box-shadow: 2px 2px 15px gold;
        transform: translateY(300px);
        animation-duration: 6s;
        border-radius: 10px;

    }
    60%{
        background-color: red;
        box-shadow: 2px 2px 15px gold;
        transform: translateY(300px);
        animation-duration: 2s;
        border-radius: 15px;

    }
    80%{
        background-color: black;
        box-shadow: 2px 2px 15px gold;
        transform: translateY(300px);
        animation-duration: 6s;
        border: 20px;

    }
    100%{
        background-color: chocolate;
        box-shadow: 2px 2px 15px gold;
        transform: translateY(300px);
        animation-duration: 6s;
        border-radius: 300px;

    }

}