.div{
    border-radius: 30px;
    width: 400px;
    height: 650px;
    background-color: wheat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    
}
