span{
    font-size: larger;
}
img{
    width: 160px;
    height: 190px;
}
.div{
    width: 600px;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0%;


    
}
.main-div{
    border-radius: 30px;
    border: 3px solid black;
    align-items: center;
    width: 600px;
    height: 470px;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0%;



    
}
h6{
    margin: 10px;
    display: inline;
    width: 200px;
    
}
.div1{
    width: 600px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: center;
    padding: 0%;
    
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.div2{
    display: flex;
    justify-content: center;
    width: 600px;
}
